/* normalize */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  background-color: #c9ffc9; }

.header {
  width: 100%;
  background-color: gray;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header-title {
  margin-left: 15px;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2; }
  .header-title a {
    color: #666;
    text-decoration: none;
    font-size: 60%; }

.main {
  margin-top: 70px; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 15px; }
  .nav ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around; }

.nav-item a {
  text-decoration: none;
  color: #fff; }

.nav-item-active a {
  color: aquamarine;
  text-decoration: underline; }

.todo-card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 120px; }

.todo-card {
  padding: 5px;
  text-align: center;
  width: 80%;
  margin: 0 auto 12px auto;
  -webkit-box-shadow: 1px 1px 1px 1px #777;
  box-shadow: 1px 1px 1px 1px #777; }

.todo-card-active {
  background-color: #ffffae; }

.todo-card-title {
  font-size: 200%; }

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 40%;
  padding: 10px; }
  .button-list .button {
    width: 100%; }

.button {
  padding: 10px;
  width: 60%;
  margin: 0 auto;
  border: 1px solid #777;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  font-weight: 700; }

.button-success {
  background-color: aquamarine;
  color: green; }

.button-normal {
  background-color: #ffd900;
  color: #ff9900; }

.button-delete {
  background-color: #bebebe;
  color: gray; }

.create-form {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.create-form-input {
  padding: 5px; }

.input-form {
  margin: 0 auto 5px auto; }

@media (min-width: 768px) {
  body {
    background-color: #adadff; }
  .header-title a {
    font-size: 100%; } }

@media (min-width: 1024px) {
  body {
    background-color: #ffb9b9; }
  .header-title a {
    font-size: 100%; } }
