/* normalize */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777; }

.header {
  width: 100%;
  background-color: gray;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header-title {
  color: #666;
  margin-left: 15px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.main {
  margin-top: 70px; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 15px; }

.nav-item a {
  text-decoration: none;
  color: #fff; }

.nav-item-active a {
  color: aquamarine;
  text-decoration: underline; }

.todo-card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.todo-card {
  text-align: center;
  width: 80%;
  margin: 0 auto 12px auto;
  -webkit-box-shadow: 1px 1px 1px 1px #777;
  box-shadow: 1px 1px 1px 1px #777; }

.todo-card-title {
  font-size: 200%; }

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.button {
  padding: 10px;
  width: 50%;
  margin: 0 auto;
  border: 1px solid #777;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  font-weight: 700; }

.button-success {
  background-color: aquamarine;
  color: green; }

.button-normal {
  background-color: #ffd900;
  color: #ff9900; }

.button-delete {
  background-color: #bebebe;
  color: gray; }

.create-form {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.create-form-input {
  padding: 5px; }

.input-form {
  margin: 0 auto 5px auto; }
