/* normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  background-color: rgb(201, 255, 201);
}

.header {
  width: 100%;
  background-color: gray;
  position: fixed;
  top: 0;
  display: flex;
}

.header-title {
  a {
    color: #666;
    text-decoration: none;
    font-size: 80%;
  }
  margin-left: 15px;
  flex-grow: 2;
}

.main {
  margin-top: 70px;
}

.nav {
  display: none;
  position: relative;
  flex-grow: 1;
  top: auto;
  ul {
    list-style: none;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }
  margin-right: 15px;
}

.nav-item {
  a {
    text-decoration: none;
    color: #fff;
  }
}

.todo-card-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
}

.todo-card {
  padding: 5px;
  text-align: center;
  width: 95%;
  margin: 0 auto 12px auto;
  box-shadow: 1px 1px 1px 1px #777;
}

.todo-card-active {
  background-color: rgb(255, 255, 174);
}

.todo-card-title {
  font-size: 200%;
}

.button-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 65px;
  right: 0;
  width: 40%;
  padding: 10px;
  .button {
    width: 100%;
  }
}

.button {
  padding: 10px;
  width: 60%;
  margin: 0 auto;
  border: 1px solid #777;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  font-weight: 700;
}

.button-success {
  background-color: aquamarine;
  color: green;
}

.button-normal {
  background-color: rgb(255, 217, 0);
  color: rgb(255, 153, 0);
}

.button-delete {
  background-color: rgb(190, 190, 190);
  color: gray;
}

.create-form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.create-form-input {
  padding: 5px;
}

.input-form {
  margin: 0 auto 5px auto;
}

.footer-nav-items {
  position: fixed;
  bottom: 0;
  width: 100%;
  list-style: none;
  background-color: #777;
  display: flex;
  justify-content: space-around;
}

.footer-nav-item {
  text-align: center;
  a {
    color: white;
    text-decoration: none;
  }
}

.footer-nav-icon {
  font-size: 150%;
  padding: 8px;
}

.nav-item-active {
  a {
    color: aquamarine;
    text-decoration: underline;
  }
}

@media (min-width: 768px) {
  body {
    background-color: rgb(173, 173, 255);
  }

  .menu_button {
    display: none;
  }

  .nav {
    // display: none;
    position: relative;
    flex-grow: 1;
    top: auto;
    ul {
      list-style: none;
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: space-around;
    }
    margin-right: 15px;
  }

  .header-title {
    a {
      font-size: 100%;
    }
  }

  .nav {
    display: flex;
  }

  .todo-card-list {
    margin-bottom: 120px;
  }

  .todo-card {
    width: 80%;
  }

  .button-list {
    bottom: 0;
  }

  .footer-nav-items {
    display: none;
  }
}

@media (min-width: 1024px) {
  body {
    background-color: rgb(255, 185, 185);
  }

  .header-title {
    a {
      font-size: 100%;
    }
  }
}
